@import "~bootstrap/scss/bootstrap";

body {
  background-image: url(../images/jeremy-thomas-E0AHdsENmDg-unsplash.jpg);
  background-size: cover;

  .form-inline {
    justify-content: center;
    margin-top: 10px !important;
  }

  img {
    width: 100px;
  }
}